<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <form #f="ngForm" novalidate (ngSubmit)="onEdit()">
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="nombreUsuario"
                      id="nombreUsuario"
                      class="form-control"
                      placeholder="User"
                      [(ngModel)]="empleado.nombreUsuario"
                      autocomplete="off"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="foto"
                      id="foto"
                      class="form-control"
                      placeholder="Picture"
                      [(ngModel)]="empleado.foto"
                      autocomplete="off"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="number"
                      name="edad"
                      id="edad"
                      class="form-control"
                      placeholder="Age"
                      [(ngModel)]="empleado.edad"
                      autocomplete="off"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="number"
                      name="sueldo"
                      id="sueldo"
                      class="form-control"
                      placeholder="Salary"
                      [(ngModel)]="empleado.sueldo"
                      autocomplete="off"
                    />
                  </div>

                  <div
                    class="form-group"
                    style="margin-top: 20px; margin-bottom: 20px"
                  >
                    <label>Choose a Turn:</label>
                    <select
                      id="roles"
                      name="roles"
                      [(ngModel)]="empleado.turno"
                      required
                    >
                      <option value="Matutino">Morning</option>
                      <option value="Vespertino">Evening</option>
                    </select>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="Email"
                      [(ngModel)]="empleado.email"
                      autocomplete="off"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="tel"
                      name="telefono"
                      id="telefono"
                      class="form-control"
                      placeholder="Phone"
                      [(ngModel)]="empleado.telefono"
                      autocomplete="off"
                    />
                  </div>

                  <div class="form-group" style="margin-top: 20px">
                    <label>Choose a Role:</label>
                    <select
                      id="roles"
                      name="roles"
                      [(ngModel)]="empleado.roles"
                      required
                    >
                      <option value="ROLE_ADMIN">Administrator</option>
                      <option value="ROLE_INSTRUCTOR">Instructor</option>
                      <option value="ROLE_MANTENIMIENTO">Maintenance</option>
                      <option value="ROLE_RECEPCIONISTA">Receptionist</option>
                      <option value="ROLE_USER">User</option>
                    </select>
                  </div>
                  <br />
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      [disabled]="!f.valid"
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="button"
                      type="submit"
                    >
                      Edit User
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="../../../../assets/img/logo.jfif"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Spartacus</h4>
                </div>
                <h4 class="mb-4">Supplies System</h4>
                <p class="small mb-0">
                  Project for the administration and the management of what
                  would be the suppliers of a gym with its products and
                  information
                </p>
                <br />
                <p class="small mb-0">
                  User registration for the system where you can insert 4 types
                  of roles but only the admin can insert, delete and update
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
